
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>Roaming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Roaming">
        <meta name="author" content="Abraam Emad">
        <link rel="shortcut icon" href="../images/Orange.png" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- The styles -->
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" >
		<link rel="stylesheet" href="../css/base.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="container">
					<p>Welcome to Admin Dashboard.</p>
				</div>
			</div>
			<div id="navbar">
				<div class="container">
					<div class="left-container">
						<img src="../images/Orange.png"/>
					</div>
					<div class="right-container">
						<p class="header">Scripts / <a href="addScript.html">Add Script</a></P>
					</div>
				</div>
			</div>
			<div id="content">
				<div class="container">
					<div class="left-container">
						<div class="vertical-menu">
						  <a href="zones.html">Zones</a>
						  <a href="countries.html">Countries</a>
						  <a href="packages.html">Packages</a>
						  <a href="scripts.html">Scripts</a>
						  <a href="logout.html">Logout</a>
						</div>
					</div>
					<div class="right-container">
						<div class="well">
							<table class="table">
								<thead class="thead-dark">
									
								</thead>
								<tbody>
									<tr>
										<th class="script"><a class="link" href="scripts.html">Delete</a></th>
										<th class="script"><a class="link" href="editScript.html">Edit</a></th>
										<th class="script">انا مسافر و اريد الاشتراك فى باقة التجوال ؟</th>
									</tr>
									<tr>
										<td class="script" colspan="3">حضزتك في ياقات يومية وأسبوعية و شهريه حسب الفترة اللي خضرتك حتكون مسافر فيها واحتياجاتك لقدمة الانترنت وكمان لازم يكون في اعتبار حضرتك البلد اللي انت رايحلها لان الياقات بتختبلف حسب الدولة
										احب اوضح لحضرتك انك ممكن تضيف ‏الباقة دلوقني ورسوم الباقة يتتخصم لما حضرتك تساقر ي تستخدم الانترتت
										لة العميل علي نظام الكارت المدقوع مقدما:
										لازم يكون فى رصيد كاقي لتشتيل الباقة و تتجديدها
										الباقة اليومية صالحة لمدة 24 ساعة من اول استخدام للانترنت والباقة الاسبوعية صالحة لمدة اسبوع من بدء استخدام الاتترنت والباقة الشهرية صالحة لمدة 30 يوم من يدء استخدام الانترنث
										</td>
									</tr>
									<tr>
										<th class="script"><a class="link" href="scripts.html">Delete</a></th>
										<th class="script"><a class="link" href="editScript.html">Edit</a></th>
										<th class="script">اعمل ايه لو الباقة خلصت ؟</th>
									</tr>
									<tr>
										<td class="script" colspan="3">بالنسبة للباقة اليومية :
										الباقة بتجدد تلقائيا بعد ما بتخلص لو حضرتك استخدمت الانترنت بحد اقصى خمس مرات فى اليوم بعدها بتتحاسب على كل ميجا ب 10 جنيه للميجا.
										بالنسبة للباقة الاسبوعية :
										الباقة بتجدد تلقائيا بعد اسبوع لو حضرتك استخدمت الانترنت و لو خلصت فى خلال الاسبوع ممكن حضرتك تضيف الباقىة اليويمة بحد اقصى خمس مرات فى اليوم بعدها بتتحاسب على كل ميجا ب 10 جنيه للميجا.
										بالنسبة للباقة الشهرية :
										الباقة بتجدد تلقائيا بعد شهر لو حضرتك استخدمت الانترنت و لو خلصت فى خلال الشهر ممكن حضرتك تضيف الباقىة اليويمة بحد اقصى خمس مرات فى اليوم بعدها بتتحاسب على كل ميجا ب 10 جنيه للميجا.
										</td>
									</tr>
									<tr>
										<th class="script"><a class="link" href="scripts.html">Delete</a></th>
										<th class="script"><a class="link" href="editScript.html">Edit</a></th>
										<th class="script">ازاى اتحكم فى استهلاك الانترنت اثناء التجوال ؟</th>
									</tr>
									<tr>
										<td class="script" colspan="3">ممكن حضرتك تنزل تطبيق MY ORANGE  و تقدر عند طريقه تتابع استهلاكك
										تجنب زيادة فى استهلاك الانترنت اثناء التجوال عن طريق الاختيار بين
										استقبال الرسائل لمعرفة قيمة الاستهلاك عند الوصول ل 80% او 100% من الحد الادنى المتفق عليه
										ايقاف الخدمة عند الوصول ل 100% من الحد
										الحد الاساسى 5 ميجا و يمكن زيادته. و يمكنك تغيير حد الاستخدام عده مرات و التعديل يمكن ان يكون بحد ادنى 1 ميجا و بحد اقصى 1024 (1 جيجا) و بدون اى كسور
										</td>
									</tr>
									<tr>
										<th class="script"><a class="link" href="scripts.html">Delete</a></th>
										<th class="script"><a class="link" href="editScript.html">Edit</a></th>
										<th class="script">اشترك ازاى لو سافرت و عايز اشترك فى الباقة  ؟</th>
									</tr>
									<tr>
										<td class="script" colspan="3">110 او 250 
										تطبيق MY ORANGE 
										ارسال رسالة قصيرة فاضية ل 
										الباقة اليومية : 1101
										الباقة الاسبوعية : 1071
										الباقة الشهرية : 1072
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div class="container footerCR">
					<p>Abraam Emad &copy; 2019</p>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
	</body>
</html>