
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>Roaming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Roaming">
        <meta name="author" content="Abraam Emad">
        <link rel="shortcut icon" href="../images/Orange.png" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- The styles -->
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" >
		<link rel="stylesheet" href="../css/base.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="container">
					<p>Welcome to Admin Dashboard.</p>
				</div>
			</div>
			<div id="navbar">
				<div class="container">
					<div class="left-container">
						<img src="../images/Orange.png"/>
					</div>
					<div class="right-container">
						<p class="header">Packages / <a href="addPackage.html">Add Package</a></P>
					</div>
				</div>
			</div>
			<div id="content">
				<div class="container">
					<div class="left-container">
						<div class="vertical-menu">
						  <a href="zones.html">Zones</a>
						  <a href="countries.html">Countries</a>
						  <a href="packages.html">Packages</a>
						  <a href="scripts.html">Scripts</a>
						  <a href="logout.html">Logout</a>
						</div>
					</div>
					<div class="right-container">
						<div class="well">
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th class="pricing">Package Name</th>
										<th class="pricing">Fees</th>
										<th class="pricing">Volume</th>
										<th class="pricing">Edit</th>
										<th class="pricing">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="pricing" colspan="5">Zone 1</th>
									</tr>
									<tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr>
									<tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr>
									<tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr><tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr>
									<tr>
										<th class="pricing" colspan="5">Zone 2</th>
									</tr>
									<tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr>
									<tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr>
									<tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr><tr>
										<td class="pricing">Daily</td>
										<td class="pricing">EGP 999</td>
										<td class="pricing">999 MB</td>
										<th class="pricing link"><a class="link" href="editPackage.html">Edit</a></th>
										<th class="pricing link"><a class="link" href="packages.html">Delete</a></th>
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div class="container footerCR">
					<p>Abraam Emad &copy; 2019</p>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
	</body>
</html>