/*global classes*/

.container{
	width:1300px;
	height:100%;
	margin:auto;
}
#wrapper{
	width:100%;
	height:auto;
}
#header{
	width:100%;
	height:40px;
	background-color:#FE6601;
}
#header p{
	font-family: 'Dosis', sans-serif;
	color:#FFFFFF;
	font-size:20px;
	padding-left:15px;
	padding-top:5px;
}
#navbar{
	width:100%;
	height:80px;
}
.container .left-container img{
	width:170px;
	height:70px;
	padding-left:15px;
	padding-top:5px;
}
#content{
	width:100%;
	height:auto;
	min-height:455px;
	overflow:hidden;
}
#content .container{
	height:auto;
	min-height:455px;
	overflow:hidden;
}
#footer{
	width:100%;
	height:50px;
	background-color:#000000;
}
.left-container{
	width: 18%;
	height: 100%;
	float:left;
	margin-right:0px;
	padding-right:0px;
}
.right-container{
	width: 82%;
	height: 100%;
	float:right;
	margin-left:0px;
	padding-left:0px;
}

.styled-select{
	padding-top: 24px;
	padding-right: 50px;
}
.styled-select select {
	float:right;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 17px;
	height: 40%;
	width: 200px;
}

.vertical-menu {
  width: 190px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: #555555; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 15px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.header{
	text-align: center;
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	font-weight:Bold;
	color:#555555;
	padding-top:20px;
}
.header a{
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	color:#FE6601;
	text-decoration: none;
	
}
.header a:hover{
	color:#555555;
}

.well{
	width:100%;
}

.form-container{
	width:50%;
	margin:auto;
}
bottom{
	padding:auto;
}
td , th{
	text-align:center;
	vertical-align:middle;
}
.pricing{
	text-align: center;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
}
.package{
	text-align: center;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
}
.headers{

	margin-top:15px;
	margin-bottom:15px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
	font-weight: bold;
    text-align: center;
	color:#555555;
}
.script{
	text-align: right;
	font-size:18px;
}
.link{
	font-family: 'Dosis', sans-serif;
	color:#FE6601;
}
.link:hover{
	color:#555555;
	text-decoration: none;
}
.footerCR{
	text-align:right;
    font-size: 15px;
	font-family: 'Dosis', sans-serif;
	color:#AAAAAA;
	padding-top: 15px;
}
/****************************************/

.top-bar-social{
	float:left;
}

.left-right-container{
	width: 50%;
	height: 100%;
	float:left
}
.right-right-container{
	width: 50%;
	height: 100%;
	float:right
}

.boxModel{
	width:49%;
	height:100%;
	background:#ffe6e6;
	margin:0 2% 30px 0;
	overflow: auto;
}

.pullRight{
	float:right;
	margin-right:0;
}
span{
	color:#800000;
	font:bold;
}

.glyphicon { margin-right:10px; }
.panel-body {padding:20px 20px; }
.panel-body .table tr td { padding-left: 100px }
.panel-body .table {margin-bottom: 0px; }

.left-container-donor-account{
	width: 80%;
	height: 100%;
	float:left;
	margin-right:0px;
	padding-right:0px;
}
.right-container-donor-account{
	width: 20%;
	height: 100%;
	float:right;
	margin-left:0px;
	padding-left:0px;
}

.sidenav{
	height: auto; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #FE3C47; /*  */
    overflow-x: hidden; /* Disable horizontal scroll */
	float: right
}
.sidenav a {
	margin: 10px 0px;
    display: block;
}

.sidenav a i{
    color: #fff;
	padding-right:5px
}
.greenMessage{
	background:#33ff33;
	height:60px;
	text-align:center;
	border-radius:10px
}
.greenMessage p{
	padding: 15px 0px;
	font-family: 'Dosis', sans-serif;
	font-size: 36px;
	color:white;
}
.redMessage{
	background:#FE3C47;
	height:60px;
	text-align:center;
	border-radius:10px
}
.redMessage p{
	padding: 15px 0px;
	font-family: 'Dosis', sans-serif;
	font-size: 36px;
	color:white;
}

